Repository alexnitta/woodshed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(web-cra): update favicon, fix tests, fix linting errors
  packages/web-cra/.eslintignore
  packages/web-cra/config-overrides.js
  packages/web-cra/package.json
  packages/web-cra/public/android-chrome-192x192.png
  packages/web-cra/public/android-chrome-512x512.png
  packages/web-cra/public/apple-touch-icon.png
  packages/web-cra/public/browserconfig.xml
  packages/web-cra/public/favicon-16x16.png
  packages/web-cra/public/favicon-32x32.png
  packages/web-cra/public/favicon.ico
  packages/web-cra/public/index.html
  packages/web-cra/public/logo192.png
  packages/web-cra/public/logo512.png
  packages/web-cra/public/manifest.json
  packages/web-cra/public/mstile-150x150.png
  packages/web-cra/public/safari-pinned-tab.svg
  packages/web-cra/src/App.css
  packages/web-cra/src/App.test.tsx
  packages/web-cra/src/App.tsx
  packages/web-cra/src/index.css
  packages/web-cra/src/reportWebVitals.ts
  packages/web-cra/tsconfig.json
  packages/web-cra/tsconfig.webpack.json
Due: eslint --fix, stylelint --fix

fix(web-next): align content with @packages/web-cra
  packages/web-next/package.json
  packages/web-next/pages/App.css
  packages/web-next/pages/_app.tsx
  packages/web-next/pages/app/index.tsx
  packages/web-next/pages/index.css
  packages/web-next/pages/index.tsx
Due: eslint --fix, stylelint --fix

docs: update README.md
  README.md
Due: none

fix: fix nohoist for react and react-dom
  lerna.json
  package.json
  yarn.lock
Due: none

chore: add lint-and-unit-test.yml
  .github/workflows/lint-and-unit-test.yml
Due: none

docs: update README.md; move code conventions into /docs
  README.md
  docs/code_conventions.md
Due: none

fix: add example of global type definition
  README.md
  docs/code_conventions.md
  globalTypes/woodshed/index.d.ts
  globalTypes/woodshed/state.d.ts
  packages/components/src/ClickCountButton.tsx
  packages/components/src/index.ts
  packages/web-cra/src/App.tsx
  packages/web-cra/tsconfig.json
  packages/web-cra/tsconfig.webpack.json
  packages/web-next/tsconfig.json
Due: eslint --fix

docs: update README.md [ci skip]
  README.md
Due: none

docs: make transpilation setup more clear [ci skip]
  README.md
  packages/web-cra/config-overrides.js
  packages/web-next/next.config.js
Due: eslint --fix

chore: add sandbox.config.json [ci skip]
  package.json
  sandbox.config.json
  tsconfig.json
Due: none

docs: update README.md files
  README.md
  packages/components/README.md
  packages/utils/README.md
  packages/web-cra/README.md
  packages/web-next/README.md
  sandbox.config.json
Due: none

docs: add badge for Lint and Unit Test workflow
  README.md
Due: none

chore: upgrade eslint, prettier, husky, and associated plugins
  .eslintrc.js
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc.js
  package.json
  packages/components/.eslintrc.js
  packages/utils/.eslintrc.js
  packages/web-cra/.eslintrc.js
  packages/web-next/.eslintrc.js
  yarn.lock
Due: eslint --fix

docs: update return type for ClickCountButton
  packages/components/src/ClickCountButton.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
